<!DOCTYPE html>
<html lang="en">
<%- include('./head') %>
<body class="grey-bg-color-idx">
<%- include('./header') %>
	     <main class="main">
	     <div class="carrousel-main">
  	       <div class="carrousel-item" id="item-carrousel-1">
	       <div class="carr-desktop-img">
		 <img src="img/carr-1-desktop.jpg">
		 </div>
		 <div class="carr-movil-img">
		   <img src="img/carr-1-movil.jpg">
		 </div>
	       </div>
	       <div class="carrousel-item" id="item-carrousel-2">
	       <div class="carr-desktop-img">
		 <img src="img/carr-2-desktop.jpg">
		 </div>
		 <div class="carr-movil-img">
		   <img src="img/carr-2-movil.jpg">
		 </div>
	       </div>
	       <div class="carrousel-item" id="item-carrousel-3">
	         <div class="carr-desktop-img">
		 <img src="img/carr-3-desktop.jpg">
		 </div>
		 <div class="carr-movil-img">
		   <img src="img/carr-3-movil.jpg">
		 </div>
	       </div>
	       </div>
	       <div class="display-texto-caja-prod">
	       Productos Destacados
	       </div>
	       <article class="productos-main">
	       <% for (let i = 0; i < productos_lista.length; i++) { %>
	       <a href="/product/<%= productos_lista[i].id %>" class="CajaProductos-main">
	       <img src="../img/<%= productos_lista[i].img %>" class='img-main'>
	       <h3><strong><%= productos_lista[i].maker %></strong></h3>
	       <div class="texto-producto-inicio"><%= productos_lista[i].name %></div>
	       <h2><strong>$ <%= productos_lista[i].price %></strong></h2>
	       </a>
	       <% } %>
	       </article>
    </main>
<%- include('./footer') %>
    
</body>
</html>