<!DOCTYPE html>
<html lang="en">
<%- include('./head') %>
<body class="grey-bg-color-idx">
<%- include('./header') %>
<main class="main">
<div class="contenedor-carrito">
    
<div class="productos-main caja-prod-carrito">
  <img src="/public\img\<%= product.img %>" class='img-main'>
	</div>
	  <div class="display-texto-caja-carrito">
	    <%= product.name %>
	  <div class="carrito-texinfo-box">
	    <%= product.desc %>
<br><br>
	    Fabricante: <%= product.maker %>
	  </div>

	  <div class="carrito-total-flexbox">
	    Precio
  	    <div class="carrito-total-a-pagar">
	      $ <%= product.price %>
	    </div>
	  </div>
	  <section class="Botones_Productos">
		<a id="Boton_Editar" href="/products/edit/<%=product.id%>" >Editar</a>
			<form action="/products/detail/products/delete/<%= product.id%>?_method=DELETE"  method="POST"> 
				<button id="Boton_Eliminar" type="submit" class="action-button delete">Eliminar producto</button>
		  </form>
	</section>

	  </div>
    </div>
    </div>
    	       <div class="display-texto-caja-prod">
	       Productos Relacionados
	       </div>
    	     <article class="productos-main">
	       <% for (let i = 0; i < productos_lista.length; i++) { %>
    <a href="/products/detail/<%= productos_lista[i].id %>" class="CajaProductos-main">
        <img src="/public\img\<%= productos_lista[i].img %>" class='img-main'>
        <h3><strong><%= productos_lista[i].name %></strong></h3>
        <div class="texto-producto-inicio"><%= productos_lista[i].desc %></div>
        <h2><strong>$ <%= productos_lista[i].price %></strong></h2>
    </a>
	<% } %>
    </article>
    </main>
<%- include('./footer') %>
    
</body>
</html>